<h2>Juros Simples</h2>
<div>Valor Presente</div>
<input type="number" step="0.01" [(ngModel)]="vp" />

<div>Juros <em>(em %)</em></div>
<input type="number" step="0.01" [(ngModel)]="j" />

<div>Período <em>(em meses)</em></div>
<input type="number" step="1" [(ngModel)]="n" />

<div>Valor Futuro</div>
<h4>Total: R$ {{ getJurosSimples()}}</h4>

<hr />
<h2>Juros Compostos</h2>

<table class="table">
  <tr *ngForOf="let tx of juro, index as n">
    <th>Valor Presente</th>
    <th>Taxa de Juros</th>
    <th>Período</th>
  </tr>
  <tr>
    <td>{{ vp }}</td>
    <td>{{ j }}</td>
    <td>{{ n }}</td>
  </tr>
</table>
<h4>Total: R$ {{ getJurosCompostos() }}</h4>
